{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">FitnessApp</a>
                    <div>
                        <a href="/logout">logout</a>
                    </div>
                </div>
            </nav>
            <div class="col-2 vh-100 p-3 border-end">
                <nav class="nav flex-column">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                    <a class="nav-link" href="/calories">Calories tracker</a>
                    <a class="nav-link" href="/meals">Meals</a>
                </nav>
            </div>
            <div class="col-10 p-0">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
